.navbar {
  background-color: $background-color;
  color: #fff;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__wrapper{
    width: $wrapper-width;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__head{
    display: flex;
    align-items: center;
    gap:1rem;
  }
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $wrapper-width;
  margin: auto 0;
}

.logo {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

/* Ссылки на навбаре (desktop) */
.navLinks {
  display: flex;
  gap: 1.5rem;
  font-size: large;
}

/* Кнопка меню для мобильных устройств */
.menuButton {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Dropdown меню для мобильных */
.dropdownMenu {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1rem;
  margin-top: 1rem;
}

/* Медиа-запросы для мобильных */
@media (max-width: 768px) {
  .navLinks {
    display: none; /* Скрываем ссылки на desktop */
  }

  .menuButton {
    display: block; /* Показываем кнопку на мобильных */
  }
}

  
  /* Медиа-запросы для мобильных */
  @media (max-width: 768px) {
    .navLinks {
      display: none; /* Скрываем ссылки на desktop */
    }
    .dropdownMenu {
      display: flex;

  .menuButton {
    display: block; /* Показываем кнопку на мобильных */
  }
}}

.fake_navbar {
  height: 70px;
  width: 100%;
}