.profile_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;

    &__info {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    
    &__credentials {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    img {
        border-radius: 50%;
    }
}